<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="https://unpkg.com/leaflet-speechbubble@1.0.0/dist/L.SpeechBubble.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-speechbubble@1.0.0/dist/SpeechBubble.css"
    />
    <script
      src="https://kit.fontawesome.com/7ab9ab1088.js"
      crossorigin="anonymous"
    ></script>
    <title>WeatherApp</title>
  </head>
  <body>
    <!-- HEADER -->
    <nav class="header navbar navbar-light bg-dark">
      Weather App
      <a class="logout" href="/users/logout">Deconnexion</a>
    </nav>

    <!-- GRID -->
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-6">
          <form class="input-group" action="/add-city" method="post">
            <input
              class="form-control"
              type="text"
              name="nomVille"
              placeholder="Enter a city name"
            />
            <button type="submit" class="btn btn-warning">Add</button>
          </form>
          <% if (error) { %>
          <h5 class="font-italic text-danger mt-3 ml-2">
            Aucune ville trouvé, merci de reéssayer
          </h5>
          <% } %>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-12 col-lg-6">
          <div id="worldmap"></div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="d-flex justify-content-center align-items-center my-2">
            <% if(cityList.length === 0) { %>
            <h6 class="p-3 bg-info text-white">La liste est vide.</h6>
            <% } else { %>
            <h6 class="font-weight-bold my-3">Update Cities</h6>
            <a href="/update-data"
              ><i class="btn btn-warning fas fa-sync ml-2"></i
            ></a>
          </div>
          <div>
            <ul class="list-group">
              <% for (var i = 0; i < cityList.length; i++) { %>
              <div
                class="d-flex list-group-item justify-content-between align-items-center py-4"
              >
                <li
                  class="city"
                  data-longitude="<%= cityList[i].longitude %>"
                  data-latitude="<%= cityList[i].latitude %>"
                  data-name="<%= cityList[i].nomVille %>"
                >
                  <%= cityList[i].nomVille%>
                </li>
                <li class="d-flex align-items-center">
                  <%= cityList[i].descriptif %>
                  <span
                    ><img
                      src="<%=cityList[i].urlImage %>"
                      alt="nuage"
                      class="svg-cloud mx-2"
                  /></span>
                  <span class="badge badge-pill badge-warning mr-1"
                    ><%= cityList[i].tempMin %>°</span
                  >
                  <span class="badge badge-pill badge-secondary"
                    ><%= cityList[i].tempMax %>°</span
                  >
                </li>
                <li>
                  <a href="/delete-city?id=<%= cityList[i]._id %>"
                    ><i class="far fa-times-circle"></i
                  ></a>
                </li>
              </div>
              <% } %>
            </ul>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <script src="javascripts/script.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
